
h1 {
  font-family: 'Gaegu', cursive;
  margin: 20px 0;
  font-size: 60px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Gaegu', cursive;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 30px;
}


p{
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4; 
}

*{
  color: #3C373B;
  border-radius: 10px;
}

.content-row {
  display: flex;
}

.content-row div {
  margin: 20px;
}

.container {
  /*======= width property yaratın. Değerini 605px olarak atayın """*/  
  width: 750px;  /* 605 bende iyi durmadı 750 daha iyi durdu... */
  margin: 0 auto;
}

.container header nav a {
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-bottom: 20px;

   background-color: #E79947;
  
}

.container header nav a:hover {

background-color: wheat;  /*canım bu rengi istedi :D */
color: rgb(255, 174, 0);
}

/*======= Hakkmızda bölümü için aşağıdaki stilleri içeren bir selector yaratın:
  margin-top: 20px;
*/


.contact-section {
  border-top: 1px dashed black;
  padding: 20px 0;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

/*======= contact-section class'da address tag'i için aşağdıaki stilleri içeren bir selector yaratın:
   line-height: 2;
*/
.contact-section address{
  line-height: 2;
}
footer {
  width: 100%;
  background: #E79947;
  border-top: 1px dashed rgb(255, 255, 255);
}

footer .footer-content { 
  margin: 0 auto; 
  /*======= width property yaratın. Değerini 605px olarak atayın */
  width: 605px;
  
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
}

/*======= Footer'daki anchor tag için aşağıdaki stilleri içeren bir selector yaratın:
  margin: 10px;
  color: black;
  text-decoration: underline;
*/

footer a {
  margin: 10px;
  color: black;
  text-decoration: underline;
}

footer nav a:first-child {
  margin-left: 0px;
}

/*======= Footer nav'daki anchor tag için aşağıdaki stilleri içeren bir hover state yaratın:
  color: white;
*/
footer nav a :hover{
  color: white;
}

footer .footer-content .copyright {
  padding: 20px 0;
  text-align: center;
   /*======= metni ortalayacak kodu yazın */
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -21%);
}